<a href="https://colab.research.google.com/github/shanegracias7/cybertrom-intership-task/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING PACKAGES

In [ ]:
import requests
import pandas as pd
import numpy as np

GETTING DATA FROM API

In [ ]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)

CONVERTING REQUEST INTO JSON OBJECT

In [ ]:
json = r.json()

CREATING DATAFRAMES

In [ ]:
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

TRIMMING THE DATAFRAME

In [ ]:
slim_elements_df = elements_df[['second_name','team','element_type','now_cost','selected_by_percent','minutes','value_season','total_points', 'dreamteam_count', 'value_form', 'points_per_game', 'form', 'goals_scored','bonus',
       'assists', 'clean_sheets']]

MAPPING TEAMS AND POSITIONS

In [ ]:
slim_elements_df['element_type'] = slim_elements_df.element_type.map(elements_types_df.set_index('id').singular_name)
slim_elements_df['team'] = slim_elements_df.team.map(teams_df.set_index('id').name)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

RENAMING COLUMNS

In [ ]:
slim_elements_df = slim_elements_df.rename(columns = {'second_name': 'name', 'element_type': 'position' , 'now_cost' : 'cost', 'selected_by_percent':'%selected'}, inplace = False)


#fixing cost atribute
slim_elements_df['cost']=slim_elements_df['cost']/10
slim_elements_df.head()

                   name     team    position  ...  bonus assists  clean_sheets
0                  Ã–zil  Arsenal  Midfielder  ...      0       0             0
1      Papastathopoulos  Arsenal    Defender  ...      0       0             0
2  Luiz Moreira Marinho  Arsenal    Defender  ...      0       0             0
3            Aubameyang  Arsenal  Midfielder  ...      0       0             1
4                Soares  Arsenal    Defender  ...      0       0             0

[5 rows x 16 columns]

CREATING DEFENDER DATAFRAME

In [ ]:
defenders_df= slim_elements_df.loc[slim_elements_df.element_type=="Defender"]
defenders_df.head()
#trimming data

AttributeError: ignored

defenders_df.sort_values('value',ascending=False).head(10)

In [ ]:
defender_df = elements_df[['second_name','now_cost','value_season','total_points','clean_sheets','minutes','team','element_type','selected_by_percent']]

In [ ]:
defender_df['position'] = defender_df.element_type.map(elements_types_df.set_index('id').singular_name)
defender_df['team'] = defender_df.team.map(teams_df.set_index('id').name)
defender_df.head()

In [ ]:
defender_df.sort_values('value',ascending=False).head(10)